## --- Environment variable --- ##
ENV=PRODUCTION
DEBUG=false
# TZ=UTC
# PYTHONDONTWRITEBYTECODE=1


## -- Bittensor configs -- ##
# RT_BT_SUBTENSOR_NETWORK="wss://entrypoint-finney.opentensor.ai:443"


## -- Subnet configs -- ##
# ! WARNING: Do not use `~` character, it will not be expand properly! Use absolute path or ${HOME} instead:
RT_BTCLI_WALLET_DIR="${HOME}/.bittensor/wallets" # !!! CHANGE THIS TO REAL WALLET DIRECTORY !!!
# RT_BT_SUBNET_NETUID=61


## -- Validator configs -- ##
RT_VALIDATOR_WALLET_NAME="validator" # !!! CHANGE THIS TO REAL VALIDATOR WALLET NAME !!!
RT_VALIDATOR_HOTKEY_NAME="default" # !!! CHANGE THIS TO REAL VALIDATOR HOTKEY NAME !!!
# RT_VALIDATOR_LOGS_DIR="/var/log/agent-validator"
# RT_VALIDATOR_DATA_DIR="/var/lib/agent-validator"
# RT_VALIDATOR_USE_CENTRALIZED_SCORING=true

# REST core API, including /api/v1
RT_CORE_API_URL="https://core-api.theredteam.io/api/v1"
