## --- Environment variable --- ##
ENV=PRODUCTION
DEBUG=false
# TZ=UTC
# PYTHONDONTWRITEBYTECODE=1


## -- Validator configs -- ##
RT_VALIDATOR_WALLET_NAME="validator" #!! CHANGE THIS TO REAL VALIDATOR WALLET NAME !!!
RT_VALIDATOR_HOTKEY_NAME="default" #!! CHANGE THIS TO REAL VALIDATOR HOTKEY NAME !!!
RT_VALIDATOR_CACHE_DIR="/var/lib/agent-validator/cache" # !!! CHANGE THIS TO REAL CACHE DIRECTORY !!!
# RT_VALIDATOR_USE_CENTRALIZED_SCORING=true
# RT_VALIDATOR_HOTKEY_ADDRESS=""

## -- Bittensor configs -- ##
# RT_BTCLI_WALLET_DIR="/var/lib/sidecar-btcli/wallets" #!! CHANGE THIS TO REAL WALLET DIRECTORY !!!
# RT_BT_LOGGING_LEVEL=INFO
# RT_BT_SUBTENSOR_NETWORK="wss://entrypoint-finney.opentensor.ai:443"

## -- Subnet configs -- ##
# RT_TESTNET=False
# RT_SCORING_HOUR=14
# RT_CHALLENGE_DOCKER_PORT=10001
# RT_MINER_DOCKER_PORT=10002
# RT_REVEAL_INTERVAL=86400
# RT_EPOCH_LENGTH=1200
RT_STORAGE_API_URL="https://storage-api.theredteam.io"

